.logo h1 {
    font-size: 54px;
    letter-spacing: 1px;
    margin: 14px 0 23px 0;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-size: 50px;
    font-weight: weight(regular);
}

h2 {
    font-size: 34px;
    letter-spacing: 2px;
}

h3 {
    font-weight: weight(light);
}

h4 {
    font-size: 23px;
}

a {
    text-decoration: none;
    color: black;
}