.card {
    background: $card-color;
    padding-top: 3rem;
        .card_picture-one {
            @include placeCard;
            background: url(../img/photo/img1.jpg) center;
            background-size: cover;
                .card_picture-info {
                    @include placeInfo;
                }
            }
}
.card_picture-two {
    @include placeCard;
    background: url(../img/photo/img2.jpg) center;
    background-size: cover;
        .card_picture-info {
            @include placeInfo;
        }
}

li {
    height: 83px;
    border-radius: 25px;
    background: $card-color;
    margin: 28px 30px 0px -20px;
    box-shadow: 5px 5px 5px #dedede;
    cursor: pointer;
    @include flexCenter;
    
    &:hover {
        background: $card-hover;
    }
}

.card_picture-three {
    @include placeCard;
    background: url(../img/photo/img3.jpg) center;
    background-size: cover;
        .card_picture-info {
            @include placeInfo;
        }
}

.card_picture-four {
    @include placeCard;
    background: url(../img/photo/img4.jpg) center;
    background-size: cover;
        .card_picture-info {
            @include placeInfo;
        }
}

.menu-nav__number {
    position: absolute;
    left: 40px;
    background: $primary-color;
    width: 22px;
    height: 22px;
    text-align-last: center;
    border-radius: inherit;
    color: $root-color;
}

.menu-nav__icons {
    position: relative;
    right: 35px;
}
