$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$card-color: #F6F6F6;
$root-color: #fff;
$text-color: black;
$heart-color: red;

$card-hover: #F5EDFF;

$foot-color: #353535;

$font-weights: (
    "lighter": 100,
    "regular": 300,
    "medium": 400,
    "bold": 700,
);