@import 'variables';
@import 'utils';
@import 'pages';
@import 'layouts';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.logo h1 {
    font-size: 54px;
    letter-spacing: 1px;
    margin: 14px 0 23px 0;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-weight: weight(regular);
    font-size: 50px;
}

h2 {
    font-weight: weight(medium);
    font-size: 34px;
    letter-spacing: 2px;
}

h3 {
    font-weight: weight(regular);
}

h4 {
    font-size: 23px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
        .logo-btn {
            height: 73px;
            background: linear-gradient(180deg, #CECECE,#f3f0f0);
            padding-left: 100px;
            @include flexCenter;
        }
}

main {
    height: auto;
    width: 100%;
}

.home {
    text-align: center;
    padding: 2rem 0 50px 0px;
    margin-bottom: 56px;
    background: $card-color;
        .home-btn {
            width: 40vh;
            height: 22px;
            @include homeButton;
        }
}

.nav, .card {
    padding: 45px 30px 100px 30px;
}

/* Page Annexe */

.fa-arrow-left:before {
    position: absolute;
    left: 2em;
    top: 58px;
    font-size: 33px;
}

.menu_card {
    @include flexBetween;
    flex-direction: column;
}

.menu_card {
    margin-top: -12em;
    border-radius: 65px 65px;
    content-visibility: auto;
    background: $card-color;
        .title_card {
            @include flexNormal;
        }
}

i.far.fa-heart.heart {
    font-size: 36px;
}

.entrances_card {
    margin-left: 50px;
        h2 {
            font-weight: 300;
            border-bottom: 3px solid #94E1CE;
            max-inline-size: 60px;
        }
}

li.bloc_card {
    width: 39em;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    margin-left: -70px;
    background-color: $root-color;
        p {
            margin-top: -16px;
            font-weight: weight(regular);
            font-size: 21px;
        }
        span {
            position: absolute;
            right: 5em;
            font-weight: weight(medium);
        }
}